<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=YOUR_MEASUREMENT_ID"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2ZSVEQDDT1');
    </script>

    <!-- Cookie Banner Script -->
    <script type="text/javascript" charset="UTF-8" src="//cdn.cookie-script.com/s/bcb8f2d8f394d9e54bf16bef90ad28b4.js"></script>

    <!-- Crisp Chat Widget -->
    <script type="text/javascript">
        window.$crisp=[];
        window.CRISP_WEBSITE_ID="c638e7df-d51a-4454-8b59-69d62961774d";
        (function(){
            d=document;
            s=d.createElement("script");
            s.src="https://client.crisp.chat/l.js";
            s.async=1;
            d.getElementsByTagName("head")[0].appendChild(s);
        })();
    </script>
</head>
<body class="bg-gray-50 flex flex-col min-h-screen">
    {% include "partials/nav.njk" %}

    <main class="flex-grow">
        {{ content | safe }}
    </main>

    <script src="/js/nav.js"></script>
    {% include "partials/footer.njk" %}
</body>
</html>