---
layout: base.njk
---

<article class="pt-32 pb-20">
    <div class="container mx-auto px-4 md:px-6">
        <header class="mb-8">
            <h1 class="text-4xl font-bold mb-4 text-gray-800">{{ title }}</h1>
            <div class="text-gray-500">{{ date | dateFilter }}</div>
        </header>

        {% if thumbnail %}
        <img src="{{ thumbnail }}" alt="{{ title }}" class="w-full h-64 object-fill rounded-xl mb-8">
        {% endif %}

        <div class="prose prose-purple max-w-none">
            {{ content | safe }}
        </div>
    </div>
</article>